/* https://fonts.google.com/specimen/Goudy+Bookletter+1911?query=19#license */
@font-face {
  font-family: GoudyBookletter1911;
  src: url(../font/GoudyBookletter1911-Regular.ttf);
}
@font-face {
  font-family: PTSerif-Bold;
  src: url(../font/PTSerif-Bold.ttf);
}

/* set default values for everything and smooth scrolling */
html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;

}
/* ////////////////////////////////////////////////////////////////////////////
/    General CSS & Index styles
/
////////////////////////////////////////////////////////////////////////////*/

/* set overall font type and style with text-shadows to make text more readable */
* {
  color: black;
  box-sizing: border-box;
  text-shadow: 1 1 2px #fff, 1 1 1px #000;
}

/* img from https://www.chapman.edu/research/institutes-and-centers/cawl/about-letters/index.aspx */
body {
  z-index: 1;
  background-image: url("../../media/bg.png");
  background-repeat: repeat;
  background-color: rgba(0,0,0,0.2);
}

/* set a low opacity background image */
body::before {
  content: "";
  background-image: url("https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_1920,f_auto/A-Corbis-HU034804_nqfamv.jpg");
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
}

/* fonts */
p, a {
  font-family: 'GoudyBookletter1911', 'Open Sans', 'Times New Roman';
}

h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-family: 'PTSerif-Bold';
  text-align: center;
}

/* heading styles */
h2 {
  font-size:30px;
  padding: 20px 0px;
  background-color: rgba(200,200,200,0.1);
}

h3 {
    border-bottom: outset black 1px;
    font-size: 26px;
    padding-bottom: 30px;
    background-color: rgba(200,200,200,0.1);
}

/* banner/top styles */
.banner, .container, footer {
  position: relative;
  max-width: 1600px;
}

/* generic container sizing as to keep everything consistent */
.container {
  display:inline-block;
  margin-right: 40px;
  font-size: 18px;
}

/* content styles */
.home  {
  border: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(127,127,127,0.1);
  margin-bottom: 10px;
}

.home:first-of-type {
  margin-left: 235px;
  margin-bottom: 30px;
}

/* keep picture of Baker near text */
.container img:first-child {
  max-height: 355px;
  float:left;
}

.home p, h4 {
  margin-left: 5px;
  margin-right: 5px;
}

.home p:last-child {
  font-size: 12px;
}

footer p {
  font-size: 11px;
  font-family: 'Open-Sans' !important;
}

.active {
  background-color: rgba(0,0,0,0.2);
}

/* ////////////////////////////////////////////////////////////////////////////
/    Action Description Styles
/
////////////////////////////////////////////////////////////////////////////*/
.letter {
  background:url("../../media/letterbg.png");
  background-repeat: repeat;
  box-shadow: 5px 5px 9px #888;
  margin-left: 9px;
  padding: 20px 20px;
  max-width: 900px;
}
/* letter font */
.letter p, .letter h3, .letter h4 {
    font-family: 'Open-Sans';
}

.landing, .push, .poziers, .wounded, .landing {
  font-size: 17px;
}
#page1 {
  display: inline-block;
}
#page2, #page3, #page4, #page5 {
  display: none;
}
@media only screen and (min-width: 1300px) {
  .letter {
    margin-left: 200px;
  }
}
@media only screen and (min-width: 1600px) {
  .letter {
    margin-left: 350px;
  }
}
/* ////////////////////////////////////////////////////////////////////////////
/    Post Letter Styles
/
////////////////////////////////////////////////////////////////////////////*/


/* ////////////////////////////////////////////////////////////////////////////
/    Mobile Styles
/
////////////////////////////////////////////////////////////////////////////*/
/* navigation container with fixed position to stay at top of page */
@media only screen and (min-width: 960px) {
  #navLinks {
    display: visible;
  }

  nav {
    height: 0;
    overflow:visible;
    display: block;
    width: 140px;
    margin-top: 10px;
    margin-left: 30px;
    position: sticky;
    top: 15px;
    z-index: 100;
  }

  /* specifics of nav items */
  nav a {
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: black;
    border-bottom: 1px solid #555;
  }
  nav a:last-child {
    border: none;
  }
  a:hover {
    color: grey;
  }
  nav a.icon {
    right: 0;
    top: 0;
    display: none;
  }

  .container, footer {
    margin-left: 180px;
  }
}
@media only screen and (max-width: 959px) {
  .container, #home {
    margin: 10px;
  }

  nav {
    z-index: 100;
    width: 100%;
    top: 50px;
    position: absolute;
    background-color: #111;
    text-align: center;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  nav #navLinks {
    display: none;
    right: 50px;
    background: #333;
  }

  /* Style navigation menu links */
  nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  nav .icon {
    background-color: #333;
    width: 100%;
    height: 50px;
    font-size: 30px;
    padding: 6px;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
  }
  /* set some styles for the mobile menu icon*/
  .fa {
    position: fixed;
    right: 0;
    padding: 6px;
    color: rgb(200,200,200,0.8);
  }

  a:hover {
    background-color: grey;
  }

  .banner {
    padding-top: 85px;
  }
  .banner img {
    max-height: 300px;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 600px){
  #home {
    margin-top: 30px;
  }
  .container, footer {
    margin: 0px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 2px;
  }
  .container img:first-child {;
    max-height: 250px;
  }
  .home:first-of-type {
    margin-left: 165px;
    margin-bottom: 20px;
  }
}
