
input[type=text], input[type=email], input[type=tel], select {
  width: 100%;
  padding: 8px;
  border: 1px solid #999;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
}

input[type=text], input[type=email], input[type=tel], select, textarea {
  margin-bottom: 16px;
}
form div {
  margin-bottom: 8px;
  color: red;
}
textarea {
  height: 200px;
  width: 100%;
  resize: vertical;
}

input:focus {
  border: solid red 3px;
}

input[type=submit] {
  background-color: #888;
  width: 150px;
  color: white;
  padding: 12px 20px;
  margin-left: 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #aaa;
}

.container {
  border-radius: 5px;
  padding: 20px;
}
